@import "tailwindcss";

.mobile-menu {
  @apply fixed top-16 right-0 w-1/2 h-full bg-black pb-2;
}

.mobile-menu ul li{
  @apply  text-center text-white hover:text-black hover:bg-white py-2 transition-all duration-200;
}


.slide-up {
  animation: slideUp 0.4s ease-out;
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}